.catalog {
    padding: 80px 132px;
}
.header-text-catalog {
    color: var(--dark-green, #1E2827);
    font-family: Epilogue;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.10em;
    letter-spacing: -0.8px;
}