@import '~node_modules/modern-normalize/modern-normalize.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  :root {
    --dark-green: #1E2827;
    --black:#141414;
    --white: #FFF;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: 'epilogue', sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  
  figure{
    margin: 0px;
  }
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    max-inline-size: 100%;
    max-block-size: 100%;
  }
  .container {
    max-width: 375px;
    margin: 0 auto;
    
  
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
  
    @media screen and (min-width: 1280px) {
      max-width: 100%;
    }
  
  }
