@font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/epilogue/v3/ke8kO743IFjHK4W0BGDr9ZlbI10.woff2') format('woff2');
  }

.header {
    display: inline-flex;
    background-color: var(--black);
    padding: 29px 0px;
    color: var(--white);
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    
  
    @media screen and (min-width: 768px) {
      padding: 20px 0px;
    }
  }
  
  
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 9px;
    text-decoration: none;
    margin: 0 20px;
    width: 100vw;
  
    @media screen and (min-width: 768px) {
      margin: 0 32px;
    }
  
  
    @media screen and (min-width: 1280px) {
      margin: 0 132px;
      
    }   
  }
  
.header-nav {
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    display: flex;
  }
  
.logo-container {
    color: var(--white);
    flex-direction: row;
    align-items: center;
    gap: 4px;
    display: flex;
  }
  
.logo-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    @media screen and (min-width: 768px)
    {
        font-size: 15px;
    }
  }

.logo-icon {

    width: 14px;
    height: 14px;

    @media screen and (min-width: 768px)
    {
        width: 19px;
        height: 19px;
    }
}
  

.link {
    text-decoration: none;
    color: var(--white);
}

.nav-list {
    display: none;

    @media screen and (min-width: 768px) {
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        gap: 40px;
        display: inline-flex;
    
}
}

.nav-list-item {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
    
}

.address {

display: none;

@media screen and (min-width: 768px) {

    background: var(--dark-green,#1e2827);
    border-radius: 8px;
    padding: 18px 35px 18px 36px;
    font-style: normal;
    line-height: 12px;
    text-decoration: none;
    display: flex;
}
}

/* burger menu */

.hburger-modal {
position: fixed;
height: 100%;  
background: var(--dark-green);
padding-top: 34px;
display: flex;
flex-direction: column;
row-gap: 200px;
top: 0;
right: -100%;
width: 100%;
margin: auto;
z-index: 2; 
background-color: var(--dark-green);
transition: right var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    
}

.hburger-modal.is-open{
right: 0;
}

.hburger-modal-header {
display: flex;
position: relative;
gap: 4px;

}

.modal-container {

display: flex;
flex-direction: column;
margin: 0 20px;
justify-content: space-between;
gap: 200px;
}



.hburger-close-btn {
display: flex;
position: absolute;
align-items: flex-end;
justify-content: flex-end;
right: 0;
top: -5px;
background: transparent;
border: transparent;
stroke: var(--white);
height: 24px;
width: 24px;
cursor: pointer;
transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);;

}


.hburger-menu-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    white-space: nowrap;
    align-items: center;
}

.hburger-menu-list-item {

    font-family: 'Epilogue',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: -0.28px;
    color: var(--white);


}

.hburger-item-link {
text-decoration: none;
color: var(--white);
}

.header-container {

@media screen and (min-width: 768px)
{ display: none;}
}

.burgermenu{

background-color: transparent;
height: 14px;
width: 20px;
display: flex;
justify-content: flex-end;
margin-left: auto;
padding: 0;
cursor: pointer;
border: none;
outline: none;

@media screen and (min-width: 768px)
{ display: none;}

}

