.header {
    background-color: var(--black);
}

.main-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-size: 9px;
    padding-top: 36px;
}

.header-nav {
    color: var(--white);
}

.header-nav-logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 80px;
    letter-spacing: -0.45px;
}

.header-nav-link {
    margin-right: 80px;
}

.logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 100;
}

.logo-text {
    margin-right: 80px;
    font-size: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.nav-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    line-height: 12px;
    text-transform: uppercase;
}

.address {
    border-radius: 8px;
    background: var(--dark-green, #1E2827);
    padding: 18px 35px 18px 36px;
    font-style: normal;
    line-height: 12px;
}

