
:root{
    --black:#141414
}
.hero{
    padding: 0 20px;
    background-color: var(--black);
}

.hero__container{
    padding-top: 69px;
}

.hero__txt h1{
    color: #FFF;
    font-family: Epilogue;
    font-size: 38px;
    font-style: normnal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.52px;
}

.hero__background__container{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.hero__backgrnd__txt{
    margin-left: 87px;
    width: 248px;
    padding-top: 40px;
}

.hero__backgrnd__txt p{
    color: #FFF;
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.swiper-slide img{
    width: 266px;
    height: 200px;
    object-fit: cover;
}

.hero__img{
    padding: 40 0px;
}
.hero__img img{
    width: 335px;
    height: 410px;
    object-fit: cover;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
    display: none;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after{
    display: none;
}

.swiper-next,
.swiper-prev{
    background: transparent;
    border: 1px solid white;
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.swiper-buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 116px;
}

.slider-range{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-buttons-list{
    display: flex;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}

.slider-count{
    color: #FFF;
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

// Tablet View

@media screen and (min-width: 768px) {
    .hero{
        margin: 0 auto;
        padding: 0 32px;
    }

    .hero__backgrnd__txt{
        margin-left: 0;
    }

    .hero__txt h1{
        color: #FFF;
        font-family: Epilogue;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 62px;
        letter-spacing: -2.4px;
    }
    .hero__img img{
        width: 704px;
        height: 410px;
    }

    .swiper-slide img{
        width: unset;
        height: unset;
    }

    .hero__background__container {
        padding-top: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }

    .hero__img{
        padding: 100px 0 64px 0;
    }

    .swiper-buttons{
        gap: 262px;
    }

    .swiper-next,
    .swiper-prev {
    width: 40px;
    height: 40px;
    }

    .swiper-next svg,
    .swiper-prev svg{
        width: 24px;
        height: 24px;
    }
}