.new-watches-container {
    padding: 80px;
    background-color: var(--white);
}

.new-watches-text {
    color: rgba(20, 20, 20, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: 0.72px;
    margin-bottom: 8px;
}

.green-bronze-header {
    font-size: 40px;
    color: var(--darkgreen);
    margin-bottom: 80px;
}

.green-and-bronze-list {
    display: flex;
    gap: 24px;
}

.nwatches-img1 {
    content: "";
    width: 576px;
    height: 422px;
    background: url(./images/nwatch-green.jpg), lightgray 50% / cover no-repeat;
}

.nwatches-img2 {
    content: "";
    width: 576px;
    height: 422px;
    background: url(./images/nwatch-bronze.jpg), lightgray 50% / cover no-repeat;
}

