.new-watches {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
    background-color: var(--white);
}

.new-watches-text {
    color: rgba(20, 20, 20, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: 0.72px;
    margin-bottom: 8px;
}

.green-bronze-header {
    font-size: 40px;
    color: var(--darkgreen);
    margin-bottom: 80px;
}

.green-and-bronze-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.nwatches-img1 {
    content: "";
    width: 576px;
    height: 422px;
    background: url(../images/nwatch-green.jpg), lightgray 50% / cover no-repeat;
}

.nwatches-img2 {
    content: "";
    width: 576px;
    height: 422px;
    background: url(../images/nwatch-bronze.jpg), lightgray 50% / cover no-repeat;
}

@media screen and (min-width:320px) and (max-width: 767px){

    .new-watches {
        padding: 80px 20px;
        width: 100%;
        align-items: center;
        display: flex;
        align-items: flex-start;
    }

    .new-watches-text {
        width: 335px;
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
    }

    .green-bronze-header {
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        /* 125% */
        letter-spacing: -0.64px;
        font-size: 32px;
        width: 335px;
        flex-shrink: 0;
        margin-bottom: 40px;
    }

    .green-and-bronze-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .nwatches-img1 {
        content: "";
        width: 335px;
        height: 260px;
        background: url(../images/green-mobile.jpg), lightgray 50% / cover no-repeat;
    }

    .nwatches-img2 {
        content: "";
        width: 100%;
        height: 260px;
        background: url(../images/bronze-mobile.jpg), lightgray 50% / cover no-repeat;
    }

}