<section class="section catalog">
    <div class="catalog-container">
        <h2 class="catalog-header-text"> Catalog </h2>
            <ul class="catalog-list list">
                <li class="catalog-list-item">
                    <div class="catalog-info-container">
                        <div class="catalog-figure-wrapper-container">
                            <figure class="catalog-figure">
                                <figcaption class="catalog-figcaption">
                                    <div class="info-container">
                                        <ul class="info-list">
                                            <li class="info-item">
                                                <h3 class="info-header"> Description </h3>
                                                    <p class="info-paragraph"> Richly detailed with an <br>
                                                                                                    understated design - the Police
                                                                                                    Men's Greenlane watch. </p>
                                            </li>
                                                    <li class="info-item">
                                                        <h3 class="info-header"> DETAILS & FEATURESTION </h3>                                                    
                                                            <p class="info-paragraph">Gender: man <br>
                                                                                                            Size: 46x54.5mm <br>
                                                                                                            Case Colour: Steel <br>
                                                                                                            Band Material: Metal <br>
                                                                                                            Case Material: Metal <br>
                                                                                                            Features: Multifunction <br>
                                                                                                            Water Resistant: 5 (ATM) <br>
                                                                                                            Band Colour: Steel </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                <img class="watches" srcset="/src/images/catalog/watch1-tube.jpg" alt="watch1">
                            </figure>
                        </div>
                    </div>
                    <div class="catalog-item-details-container">
                        <h3 class="watch-product-name"> Tube Watch S42 Date Steel With Black Case </h3>
                        <p class="watch-price"> €395 </p>
                    </div>
                </li>

                <li class="catalog-list-item">
                    <div class="catalog-figure-wrapper-container">
                        <figure class="catalog-figure">
                            <figcaption class="catalog-figcaption">
                                <div class="info-container">
                                    <ul class="info-list">
                                        <li class="info-item">
                                            <h3 class="info-header"> Description </h3>
                                                <p class="info-paragraph"> Richly detailed with an <br>
                                                                                                understated design - the Police 
                                                                                                Men's Greenlane watch.</p>
                                        </li>
                                        <li class="info-item">
                                                <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                    <p class="info-paragraph"> Gender: man <br>
                                                                                                    Size: 46x54.5mm  <br>
                                                                                                    Case Colour: Steel  <br>
                                                                                                    Band Material: Metal  <br>
                                                                                                    Case Material: Metal  <br>
                                                                                                    Features: Multifunction  <br>
                                                                                                    Water Resistant: 5 (ATM)  <br>
                                                                                                    Band Colour: Steel</p>
                                        </li>
                                    </ul>
                                </div>
                            </figcaption>
                            <img class="watches" srcset="/src/images/catalog/watch2-avondale.jpg" alt="watch2">
                        </figure>
                    </div>
                    <div class="catalog-item-details-container">
                        <h3 class="watch-product-name"> Avondale Watch Police For Men </h3>
                        <p class="watch-price"> €800 </p>
                    </div>
                </li>

                <li class="catalog-list-item">
                    <div class="catalog-figure-wrapper-container">
                        <figure class="catalog-figure">
                            <figcaption class="catalog-figcaption">
                                <div class="info-container">
                                    <ul class="info-list">
                                        <li class="info-item">
                                            <h3 class="info-header"> Description </h3>
                                                <p class="info-paragraph"> Richly detailed with an <br>
                                                                                                understated design - the Police 
                                                                                                Men's Greenlane watch.</p>
                                        </li>
                                        <li class="info-item">
                                                <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                    <p class="info-paragraph"> Gender: man <br>
                                                                                                    Size: 46x54.5mm  <br>
                                                                                                    Case Colour: Steel  <br>
                                                                                                    Band Material: Metal  <br>
                                                                                                    Case Material: Metal  <br>
                                                                                                    Features: Multifunction  <br>
                                                                                                    Water Resistant: 5 (ATM)  <br>
                                                                                                    Band Colour: Steel</p>
                                        </li>
                                    </ul>
                                </div>
                            </figcaption>
                                <img class="watches" srcset="/src/images/catalog/watch3-diver.jpg" alt="watch3">
                        </figure>
                        </div>
                        <div class="catalog-item-details-container">    
                            <h3 class="watch-product-name">Diver  300M Co-Axial Master Chronometer Chronograph</h3>
                            <p class="watch-price"> €600 </p>
                        </div>
                </li>

                <li class="catalog-list-item">
                    <div class="catalog-figure-wrapper-container">
                        <figure class="catalog-figure">
                            <figcaption class="catalog-figcaption">
                                <div class="info-container">
                                    <ul class="info-list">
                                        <li class="info-item">
                                            <h3 class="info-header"> Description </h3>
                                                <p class="info-paragraph"> Richly detailed with an <br>
                                                                                                understated design - the Police 
                                                                                                Men's Greenlane watch.</p>
                                        </li>
                                        <li class="info-item">
                                                <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                    <p class="info-paragraph"> Gender: man <br>
                                                                                                    Size: 46x54.5mm  <br>
                                                                                                    Case Colour: Steel  <br>
                                                                                                    Band Material: Metal  <br>
                                                                                                    Case Material: Metal  <br>
                                                                                                    Features: Multifunction  <br>
                                                                                                    Water Resistant: 5 (ATM)  <br>
                                                                                                    Band Colour: Steel</p>
                                        </li>
                                    </ul>
                                </div>
                            </figcaption>
                                <img class="watches" srcset="/src/images/catalog/watch4-diver.jpg" alt="watch4">
                        </figure>
                    </div>
                    <div class="catalog-item-details-container">    
                        <h3 class="watch-product-name"> Diver 300M Co-Axial Master Chronometer </h3>
                        <p class="watch-price"> €1400 </p>
                    </div>
                </li>

                <li class="catalog-list-item">
                    <div class="catalog-figure-wrapper-container">
                        <a href="#" class="watch-heart-icon-link d-none1">
                        <svg width="24" height="24" class="heart">
                            <use href="/src/images/icon.svg#heart"></use>
                        </svg>
                        </a>
                        <figure class="catalog-figure">
                            <figcaption class="catalog-figcaption">
                                <div class="info-container">
                                    <ul class="info-list">
                                        <li class="info-item">
                                            <h3 class="info-header"> Description </h3>
                                                <p class="info-paragraph"> Richly detailed with an <br>
                                                                                                understated design - the Police 
                                                                                                Men's Greenlane watch.</p>
                                        </li>
                                        <li class="info-item">
                                                <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                    <p class="info-paragraph"> Gender: man <br>
                                                                                                    Size: 46x54.5mm  <br>
                                                                                                    Case Colour: Steel  <br>
                                                                                                    Band Material: Metal  <br>
                                                                                                    Case Material: Metal  <br>
                                                                                                    Features: Multifunction  <br>
                                                                                                    Water Resistant: 5 (ATM)  <br>
                                                                                                    Band Colour: Steel</p>
                                        </li>
                                    </ul>
                                </div>
                            </figcaption>
                    <img class="watches" srcset="/src/images/catalog/watch5-taman.jpg" alt="watch5">
                </figure>
                </div>
                <div class="catalog-item-details-container">    
                    <h3 class="watch-product-name"> Taman Watch By Police For Men</h3>
                    <p class="watch-price"> €500 </p>
                </div>
        </li>

                <li class="catalog-list-item">
                    <div class="catalog-figure-wrapper-container">
                            <a href="#" class="watch-heart-icon-link d-none1">
                                <svg width="24" height="24" class="heart">
                                    <use href="/src/images/icon.svg#heart"></use>
                                </svg>
                            </a> 
                            <figure class="catalog-figure">
                                <figcaption class="catalog-figcaption">
                                    <div class="info-container">
                                        <ul class="info-list">
                                            <li class="info-item">
                                                <h3 class="info-header"> Description </h3>
                                                    <p class="info-paragraph"> Richly detailed with an <br>
                                                                                                    understated design - the Police 
                                                                                                    Men's Greenlane watch.</p>
                                            </li>
                                            <li class="info-item">
                                                    <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                        <p class="info-paragraph"> Gender: man <br>
                                                                                                        Size: 46x54.5mm  <br>
                                                                                                        Case Colour: Steel  <br>
                                                                                                        Band Material: Metal  <br>
                                                                                                        Case Material: Metal  <br>
                                                                                                        Features: Multifunction  <br>
                                                                                                        Water Resistant: 5 (ATM)  <br>
                                                                                                        Band Colour: Steel</p>
                                            </li>
                                        </ul>
                                    </div>
                                </figcaption>
                                <img class="watches" srcset="/src/images/catalog/watch6-malawi.jpg" alt="watch6">
                            </figure>
                        </div>
                        <div class="catalog-item-details-container">  
                            <h3 class="watch-product-name"> Malawi Watch Police For Men </h3>
                            <p class="watch-price"> €555 </p>
                        </div>
                </li>            

            <li class="catalog-list-item">
                <div class="catalog-figure-wrapper-container">
                    <figure class="catalog-figure">
                        <figcaption class="catalog-figcaption">
                            <div class="info-container">
                                <ul class="info-list">
                                    <li class="info-item">
                                        <h3 class="info-header"> Description </h3>
                                            <p class="info-paragraph"> Richly detailed with an <br>
                                                                                            understated design - the Police 
                                                                                            Men's Greenlane watch.</p>
                                    </li>
                                    <li class="info-item">
                                            <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                <p class="info-paragraph"> Gender: man <br>
                                                                                                Size: 46x54.5mm  <br>
                                                                                                Case Colour: Steel  <br>
                                                                                                Band Material: Metal  <br>
                                                                                                Case Material: Metal  <br>
                                                                                                Features: Multifunction  <br>
                                                                                                Water Resistant: 5 (ATM)  <br>
                                                                                                Band Colour: Steel</p>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                        <img class="watches" srcset="/src/images/catalog/watch7-diver.jpg" alt="watch7">
                    </figure>
                </div>
                <div class="catalog-item-details-container">
                    <h3 class="watch-product-name"> Diver 300M Co-Axial Master Chronometer </h3>
                    <p class="watch-price"> €1200</p>
            </div>
            </li>

            <li class="catalog-list-item">
                <div class="catalog-figure-wrapper-container">
                    <figure class="catalog-figure">
                        <figcaption class="catalog-figcaption">
                            <div class="info-container">
                                <ul class="info-list">
                                    <li class="info-item">
                                        <h3 class="info-header"> Description </h3>
                                            <p class="info-paragraph"> Richly detailed with an <br>
                                                                                            understated design - the Police 
                                                                                            Men's Greenlane watch.</p>
                                    </li>
                                    <li class="info-item">
                                            <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                <p class="info-paragraph"> Gender: man <br>
                                                                                                Size: 46x54.5mm  <br>
                                                                                                Case Colour: Steel  <br>
                                                                                                Band Material: Metal  <br>
                                                                                                Case Material: Metal  <br>
                                                                                                Features: Multifunction  <br>
                                                                                                Water Resistant: 5 (ATM)  <br>
                                                                                                Band Colour: Steel</p>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                        <img class="watches" srcset="/src/images/catalog/watch8-greenlane.jpg" alt="watch8">
                    </figure>
                </div>
                <div class="catalog-item-details-container">
                    <h3 class="watch-product-name"> Greenlane Watch By Police For Men </h3>
                    <p class="watch-price"> €1000 </p>
                </div>
            </li>

            <li class="catalog-list-item d-none">
                <div class="catalog-figure-wrapper-container">
                    <figure class="catalog-figure">
                        <figcaption class="catalog-figcaption">
                            <div class="info-container">
                                <ul class="info-list">
                                    <li class="info-item">
                                        <h3 class="info-header"> Description </h3>
                                            <p class="info-paragraph"> Richly detailed with an <br>
                                                                                            understated design - the Police 
                                                                                            Men's Greenlane watch.</p>
                                    </li>
                                    <li class="info-item">
                                            <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                <p class="info-paragraph"> Gender: man <br>
                                                                                                Size: 46x54.5mm  <br>
                                                                                                Case Colour: Steel  <br>
                                                                                                Band Material: Metal  <br>
                                                                                                Case Material: Metal  <br>
                                                                                                Features: Multifunction  <br>
                                                                                                Water Resistant: 5 (ATM)  <br>
                                                                                                Band Colour: Steel</p>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                        <img class="watches" srcset="/src/images/catalog/watch9-squardrc.jpg" alt="watch9">
                    </figure>
                </div>
                <div class="catalog-item-details-container">
                    <h3 class="watch-product-name"> Squardrc 5402 Chrono </h3>
                    <p class="watch-price"> €359 </p>
                </div>
            </li>

            <li class="catalog-list-item d-none">
                <div class="catalog-figure-wrapper-container">
                    <figure class="catalog-figure">
                        <figcaption class="catalog-figcaption">
                            <div class="info-container">
                                <ul class="info-list">
                                    <li class="info-item">
                                        <h3 class="info-header"> Description </h3>
                                            <p class="info-paragraph"> Richly detailed with an <br>
                                                                                            understated design - the Police 
                                                                                            Men's Greenlane watch.</p>
                                    </li>
                                    <li class="info-item">
                                            <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                <p class="info-paragraph"> Gender: man <br>
                                                                                                Size: 46x54.5mm  <br>
                                                                                                Case Colour: Steel  <br>
                                                                                                Band Material: Metal  <br>
                                                                                                Case Material: Metal  <br>
                                                                                                Features: Multifunction  <br>
                                                                                                Water Resistant: 5 (ATM)  <br>
                                                                                                Band Colour: Steel</p>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                        <img class="watches" srcset="/src/images/catalog/watch10-diver.jpg" alt="watch10">
                    </figure>
                </div>
                <div class="catalog-item-details-container">
                    <h3 class="watch-product-name" > Diver  300M Co-Axial Master</h3>
                    <p class="watch-price"> €400 </p>
                </div>
            </li>

            <li class="catalog-list-item d-none">
                <div class="catalog-figure-wrapper-container">
                    <figure class="catalog-figure">
                        <figcaption class="catalog-figcaption">
                            <div class="info-container">
                                <ul class="info-list">
                                    <li class="info-item">
                                        <h3 class="info-header"> Description </h3>
                                            <p class="info-paragraph"> Richly detailed with an <br>
                                                                                            understated design - the Police 
                                                                                            Men's Greenlane watch.</p>
                                    </li>
                                    <li class="info-item">
                                            <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                <p class="info-paragraph"> Gender: man <br>
                                                                                                Size: 46x54.5mm  <br>
                                                                                                Case Colour: Steel  <br>
                                                                                                Band Material: Metal  <br>
                                                                                                Case Material: Metal  <br>
                                                                                                Features: Multifunction  <br>
                                                                                                Water Resistant: 5 (ATM)  <br>
                                                                                                Band Colour: Steel</p>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                            <img class="watches" srcset="/src/images/catalog/watch11-citizen.jpg" alt="watch11">
                    </figure>
                </div>
                <div class="catalog-item-details-container">
                <h3 class="watch-product-name"> Citizen </h3>
                <p class="watch-price"> €519 </p>
                </div>
            </li>

            <li class="catalog-list-item d-none">
                <div class="catalog-figure-wrapper-container">
                    <figure class="catalog-figure">
                        <figcaption class="catalog-figcaption">
                            <div class="info-container">
                                <ul class="info-list">
                                    <li class="info-item">
                                        <h3 class="info-header"> Description </h3>
                                            <p class="info-paragraph"> Richly detailed with an <br>
                                                                                            understated design - the Police 
                                                                                            Men's Greenlane watch.</p>
                                    </li>
                                    <li class="info-item">
                                            <h3 class="info-header"> DETAILS & FEATURESTION </h3>
                                                <p class="info-paragraph"> Gender: man <br>
                                                                                                Size: 46x54.5mm  <br>
                                                                                                Case Colour: Steel  <br>
                                                                                                Band Material: Metal  <br>
                                                                                                Case Material: Metal  <br>
                                                                                                Features: Multifunction  <br>
                                                                                                Water Resistant: 5 (ATM)  <br>
                                                                                                Band Colour: Steel</p>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                        <img class="watches" srcset="/src/images/catalog/watch12-armani.jpg" alt="watch12">
                    </figure>
                </div>
                <div class="catalog-item-details-container">
                    <h3 class="watch-product-name"> Armani Exchange </h3>
                    <p class="watch-price"> €400 </p>
                </div>
            </li>
        </ul>
        <!-- cyfred -->
        <div class="button-container"> 
            <button class="catalog-buy-button" type="button" data-modal-open>BUY NOW</button>
        </div>
    </div>
    <div class="modal is-hidden container" data-modal>
        <div class="modal-content">
            <button type="button" class="modal-close" data-modal-close>
                <svg class="modal-close-icon" width="20" height="20">
                    <use href="/src/images/icon.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="modal-content-list list">
                <li class="modal-content-list-item">
                    <img class="watch-buy" srcset="/src/images/catalog/watch-buynow.jpg" alt="watch-buynow">
                    <h3 class="watch-product-name"> Tube Watch S42 Date Steel With Black Case </h3>
                    <p class="watch-price"> €395 </p>
                </li>
                <li class="modal-content-list-item">
                    <form class="buynow-form">
                        <label class = "buynow-form-field">
                        <span class = "buynow-form-label">Full name</span>
                        <input class = "buynow-form-input"
                                type= "text" name="full-name" required
                                placeholder="Enter your full name"
                            >
                        </label>
                        <label class="buynow-form-field">
                        <span class="buynow-form-label">Enter your email</span>
                        <input class = "buynow-form-input"
                            type="email" name="user-email" required
                            placeholder="Enter your email"
                            >
                        </label>
                        <label class = "buynow-form-field">
                        <span class = "buynow-form-label">Enter card</span>
                        <input class = "buynow-form-input"
                                type= "text" name="card-number" required
                                placeholder="Enter card">
                        </label>
                        <label class="buynow-form-field buynow-form-comment">
                        <span class="buynow-form-label">Comments</span>
                        <textarea
                            class="buynow-form-textarea"
                            name="user-feedback"
                            rows="8"
                            placeholder="Enter your text"
                        ></textarea>
                        </label>
                        <button class="buynow-form-submit" type="submit">SUBMIT</button>
                        <span class="buynow-form-agree-text"
                        >By clicking on "Submit" button, you agree to our
                        <a class="form-terms" href="">Privacy Policy</a>
                        , and allow Promodo to use this
                        information for marketing purposes.
                        </span>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</section>