<section class="catalog">
    <div class="container catalog-container">
        <h2> Catalog </h2>
            <ul class="catalog-list list">
                <li class="catalog-list-item">
                    <img class="watches" srcset="../images/watch1-tube.jpg" alt="watch1">
                    <h3 class="watch-product-name"> Tube Watch S42 Date Steel With Black... </h3>
                    <p class="watch-price"> €395 </p>
                </li>
                <li class="catalog-list-item">
                    <img class="watches" srcset="../images/watch2-avondale.jpg" alt="watch2">
                    <h3 class="watch-product-name"> Avondale Watch Police For Men </h3>
                    <p class="watch-price"> €800 </p>
                </li>
                <li class="catalog-list-item">
                    <img class="watches" srcset="../images/watch3-diver.jpg" alt="watch3">
                    <h3 class="watch-product-name">Diver  300M Co‑Axial Master Chronometer... </h3>
                    <p class="watch-price"> €600 </p>
                </li>
                <li class="catalog-list-item">
                    <img class="watches" srcset="../images/watch4-diver.jpg" alt="watch4">
                    <h3 class="watch-product-name"> Diver 300M Co-Axial Master Chronometer </h3>
                    <p class="watch-price"> €1400 </p>
            </li>
            <li class="catalog-list-item">
                <img class="watches" srcset="../images/watch5-taman.jpg" alt="watch5">
                <h3 class="watch-product-name"> Taman Watch By Police For Men</h3>
                <p class="watch-price"> €500 </p>
            </li>
            <li class="catalog-list-item">
                <img class="watches" srcset="../images/watch6-malawi.jpg" alt="watch6">
                <h3 class="watch-product-name"> Malawi Watch Police For Men </h3>
                <p class="watch-price"> €555 </p>
            </li>
            <li class="catalog-list-item">
                <img class="watches" srcset="../images/watch7-diver.jpg" alt="watch7">
                <h3 class="watch-product-name"> Diver 300M Co-Axial Master... </h3>
                <p class="watch-price"> €1200</p>
            </li>
            <li class="catalog-list-item">
                <img class="watches" srcset="../images/watch8-greenlane.jpg" alt="watch8">
                <h3 class="watch-product-name"> Greenlane Watch By Police For Men </h3>
                <p class="watch-price"> €1000 </p>
            </li>
            <li class="catalog-list-item">
                <img class="watches" srcset="../images/watch9-squardrc.jpg" alt="watch9">
                <h3 class="watch-product-name"> Squardrc 5402 Chrono </h3>
                <p class="watch-price"> €359 </p>
            </li>
            <li class="catalog-list-item">
                <img class="watches" srcset="../images/watch10-diver.jpg" alt="watch10">
                <h3 class="watch-product-name"> Diver  300M Co‑Axial Master</h3>
                <p class="watch-price"> €400 </p>
            </li>
            <li class="catalog-list-item">
                <img class="watches" srcset="../images/watch11-citizen.jpg" alt="watch11">
                <h3 class="watch-product-name"> Citizen </h3>
                <p class="watch-price"> €519 </p>
            </li>
            <li class="catalog-list-item">
                <img class="watches" srcset="../images/watch12-armani.jpg" alt="watch12">
                <h3 class="watch-product-name"> Armani Exchange </h3>
                <p class="watch-price"> €400 </p>
            </li>
        </ul>
    </div>
</section>