<footer class="footer">
    <div class="container-footer">
      <!-- first block -->
      <div class="footer-logo-container ">
        <div class="footer-contact-info">
          <a class="icon-footer-item-link" href="#">
          <svg class="icon-logo">
            <use href="./images/icon.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="footer-address-link">
          <a class="phone-link" href="tel:+380(68)4439426"
            >+380 (68) 443-94-26</a>
          <p class="footer-address-detail">
            <a
              class="map-link"
              href="https://maps.google.com/?q=1678+S.+Pioneer+Road+Salt+Lake+City+UT+84104"
              target="_blank">
              1678 S. Pioneer Road<br>
              Salt Lake City<br>
              UT 84104
            </a>
          </p>
        </address>
        </div>
        <nav class="footer-navigation">
        <ul class="navigation-list">
          <li class="navigaviton-list-item">
            <a href="./partials/aboutus.html" class="navigation-list-item-link" data-scrollto="aboutus" data-menuToggle>About Us</a>
          </li>
          <li class="navigation-list-item">
            <a href="./partials/catalog.html" class="navigation-list-item-link" data-scrollto="catalog-container" data-menuToggle>Catalog</a>
          </li>
          <li class="navigation-list-item">
            <a href="./partials/sale.html" class="navigation-list-item-link" data-scrollto="sale-container" data-menuToggle>Sale</a>
          </li>
        </ul>
        </nav>
      </div>
      <!-- second block -->
      <div class="footer-social-media">
          <ul class="icon-footer-container">
            <li class="icon-footer-item">
              <a class="icon-footer-item-link" href="https://www.facebook.com" target="_blank">
                <svg class="icon-footer" aria-label="Facebook">
                  <use xlink:href="./images/icon.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="icon-footer-item">
              <a class="icon-footer-item-link" href="https://www.instagram.com" target="_blank">
                <svg class="icon-footer" aria-label="Instagram">
                  <use xlink:href="./images/icon.svg#icon-ig"></use>
                </svg>
              </a>
            </li>
            <li class="icon-footer-item">
              <a class="icon-footer-item-link" href="https://www.youtube.com" target="_blank">
                <svg class="icon-footer" aria-label="YouTube">
                  <use xlink:href="./images/icon.svg#icon-yt"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- third block -->
        <div class="footer-links">
            <p class="copyright">&copy;2022 The Watch Spot. All rights reserved.</p>
          <div class="footer-links-items">
            <p class="privacy-policy">Privacy Policy</p>
            <p class="terms-of-service">Terms of Service</p>
          </div>
        </div>
    </div>
  </footer>