<!-- Header Section -->
<header class="header">
    <div class="main-header container">
        <nav class="header-nav">
            <!-- Logo -->
            <span>
                <svg class="logo" width="50" height=50>
                    <use href="./images/ws-logo.svg#sw-logo"></use>
                </svg>
                <a href="./" class="header-nav-link link">thewatchspot</a>
            </span>
            <ul class="nav-list list">
                <!-- navigation -->
                <li class="nav-list-item">
                    <a class="nav-list-item-link-active link" href="./">about us</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link link" href="./">catalog</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link link" href="./">sale</a>
                </li>
            </ul>
        </nav>
        <!-- contact details -->
        <address class="address">
            <a class="address-list-item link" href="tel:+380(68)443-94-261">+380 (68) 443-94-26</a>
        </address>
</header>