<!-- Header Section -->
<header class="header">
    <div class="main-header container">
        <nav class="header-nav">
            <!-- Logo -->
            <a class="logo-link" href="./">
                <img src=".src/images/ws-logo.svg" class="logo" width="19" height=19></img>
                <span class="logo-text">thewatchspot</span>
            </a>
            <ul class="nav-list list">
                <!-- navigation -->
                <li class="nav-list-item">
                    <a class="nav-list-item-link-active link" href="./">about us</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link link" href="./">catalog</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link link" href="./">sale</a>
                </li>
            </ul>
        </nav>
        <!-- contact details -->
        <address class="address">
            <a class="address-list-item link" href="tel:+380(68)443-94-261">+380 (68) 443-94-26</a>
        </address>
        <!-- Mobile Menu button -->
        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="burger-icon" width="24" height="24">
                <use href=".src/images/icon.svg#burger-menu"></use>
            </svg>
        </button>
</header>

