<section class="section">
    <div class="container">
        <h2 class="new-watches-text">New watches</h2>
        <p class="title">Green And Bronze—The Match Made In Heaven</p>
        <ul class="new-watches-list list">
            <li class="new-watches-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="800">
                <img srcset="./images/nwatch/green@2x" src="./images/nwatch/green1x.jpg" alt="watch on hand"
                    class="new-watches-page" width="576" height="472" />
            </li>
            <li class="new-watches-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="800">
                <img srcset="./images/nwatch/bronze@2x.jpg" src="./images/nwatch/bronze1x.jpg"
                    alt="wrist watch on a dark background" class="new-watches-page" width="576" height="472" />
            </li>
        </ul>
    </div>
</section>

