<section class="section">
    <div class="container">
        <h2 class="new-watches-text">New watches</h2>
        <p class="title">Green And Bronze—The Match Made In Heaven</p>
        <ul class="new-watches-list list">
            <li class="new-watches-item green" data-aos="fade-in" data-aos-easing="ease-out-cubic"
                data-aos-duration="800">
            </li>
            <li class="new-watches-item bronze" data-aos="fade-in" data-aos-easing="ease-out-cubic"
                data-aos-duration="800">
            </li>
        </ul>
    </div>
</section>