<section class="sale">
  <div class="sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-content">
      <section class="sale">
        <div class="sale-container">
          <h2 class="sale-title">Sale</h2>
          <div class="sale-content">

            <div class="watch-img-block">
              <ul class="img-list">
                <li class="img-item">
                  <img class="sale-image-small" srcset="./images/sale/image-67.jpg"
                    alt="Police Greenlane watch top view" />
                </li>
                <li class="img-item">
                  <img class="sale-image-small" srcset="./images/sale/image-64.jpg"
                    alt="Police Greenlane watch top-side view" />
                </li>
                <li class="img-item">
                  <img class="sale-image-small" srcset="./images/sale/image-65.jpg"
                    alt="Police Greenlane watch backview" />
                </li>
                <li class="img-item">
                  <img class="sale-image-small" srcset="./images/sale/image-66.jpg"
                    alt="Police Greenlane watch closeup view" />
                </li>
              </ul>
              <div class="large-image-container">
                <img class="sale-image-large" srcset="./images/sale/image-671.png"
                  alt="a Larger image of Police Greenlane watch topview" />
              </div>
            </div>


            <div class="product-description">
              <div class="product-info-container">
                <div class="product-info">
                  <h3 class="product-name">Greenlane Watch By Police For MenHT</h3>

                </div>
                <div class="product-tag-container">
                  <p class="product-tag">Product tag: PEWJK2227003</p>
                  <div class="product-price">
                    <span class="discounted-price">€700</span>
                    <span class="original-price">€1000</span>
                  </div>
                </div>
              </div>

              <div class="product-details">
                <div class="detail-header">
                  <h4 class="desc-heading">Description</h4>
                  <svg class="minus-icon" width="16" height="2">
                    <use href="./images/icon.svg#minus"></use>
                  </svg>
                </div>
                <p class="description-text">
                  Richly detailed with an understated design - the Police Men’s Greenlane watch features a
                  versatile
                  multifunction design that fits effortlessly into work and play. The steel case is adorned
                  with a
                  semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet
                  with matching
                  crown and pushers.
                </p>
              </div>
              <div class="product-specs">
                <div class="specs-header">
                  <h4 class="specs-heading">Details & Featurestion</h4>
                  <svg class="minus-icon" width="16" height="2">
                    <use href="./images/icon.svg#minus"></use>
                  </svg>
                  <div class="product-details">
                    <div class="detail-header">
                      <h4 class="desc-heading">Description</h4>
                      <svg class="minus-icon" width="16" height="2">
                        <use href="./images/icon.svg#minus"></use>
                      </svg>
                    </div>
                    <p class="description-text">
                      Richly detailed with an understated design - the Police Men’s Greenlane watch features a
                      versatile
                      multifunction design that fits effortlessly into work and play. The steel case is adorned
                      with a
                      semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet
                      with matching
                      crown and pushers.
                    </p>
                  </div>
                  <div class="product-specs">
                    <div class="specs-header">
                      <h4 class="specs-heading">Details & Featurestion</h4>
                      <svg class="minus-icon" width="16" height="2">
                        <use href="./images/icon.svg#minus"></use>
                      </svg>

                    </div>
                    <ul class="specs-list">
                      <li class="specs-item">Gender: Man</li>
                      <li class="specs-item">Size: 46x54.5mm</li>
                      <li class="specs-item">Case Colour: Steel</li>
                      <li class="specs-item">Band Material: Metal</li>
                      <li class="specs-item">Case Material: Metal</li>
                      <li class="specs-item">Features: Multifunction</li>
                      <li class="specs-item">Water Resistant: 5 (ATM)</li>
                      <li class="specs-item">Band Colour: Steel</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
      </section>


    